.header {
  color: white;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  overflow-x: scroll;
}

.header_icons {
  display: flex;
  align-items: center;
  text-align: center;
}

.header img {
  object-fit: contain;
  height: 80px;
}

.header_icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 100px;
}

.header_icon .MuiSvgIcon-root {
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
}

.header_icon-active p {
  display: inline-flex !important;
}

.header_icon p {
  display: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-left: auto;
  margin-right: auto;
  font-size: small;
}

.header_icon:hover p {
  display: inline-flex;
}

/*Hide scrollbar for Chrome Safari Opera */

.header::-webkit-scrollbar {
  display: none;
}

/*Hide scrollbar for IE Edge and Firefox */

.header {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
